:root {
  --max-width: 1100px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
}
.main {
  background-color: black;
  display: flex;
  max-width: 1100px;
  width: 100%;
}

.main > div {
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 30%;
  min-height: 20vh;
  background-color: green;
}

.main-container {
  min-height: 100vh;
  background-color: aliceblue;
  max-width: 70%;
}

.main-container .form-area{
  min-height: 40vh;
  width: 100%;
  background-color: rgb(255, 255, 255);

}

.main-container .text-area{
  min-height: 20vh;

}
.footer{
  position: fixed;
  bottom: 5px;
  background-color: lightgrey;
  align-self: flex-start;
  width: 30%;
  max-width: calc(var(--max-width)*0.3);
  
}

@media screen and (max-width: 600px) {
  .main {flex-direction: column;}
  .header {width: 100%;}
  .main-container{ max-width: 100%;}
  .footer{
    width: 100%; 
    max-width: 100%;
    position: static; 
    align-self: center;
  }
}